







/* Header*/




body > header {
    color: #525252;
    background: white;
}


body > header .title {
    display: block;
    font-family: cursive;
    font-size: 2em;
}

nav li {
    display: inline-block;

}

/* General body fonts*/

body {
    color: #595959;
font-family: serif;
}

a.primary {
    background: #ba6f57;
    color: #ffffff;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

h1 {
    font-family: 'Oswald';
}

body header { font-size: 1em;}
body > header, main, footer {
    margin: auto;
    width: 150px;
}

