body {
    background: lightslategray;
}







/* Header*/



body > header {
    color: #525252;
    background: white;
}

body > header .title {
    display: block;
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 0;

}

/* General body fonts*/

body {

}

a.primary {
    background: #ba6f57;
    color: #ffffff;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

h1 {
    font-family: 
}